<header class="header">
	<div class="header__container">
		<div class="header__menu menu ">
			<button type="button" (click)="onToggleSidebar()" class="menu__icon pi pi-bars"></button>
			<nav class="menu__body">
				<ul class="menu__list">
					<li *ngFor="let item of items" class="menu__item"><a [routerLink]="item['route']" class="menu__link">{{item.label}}</a></li>
				</ul>
				<p-button (onClick)="show()" styleClass="p-2 w-full hover:text-white  border-1 border-red-700 hover:bg-red-700" label="Subscribe" />
				<p-toast />
			</nav>
		</div>
	</div>
</header>