.header {
	padding: 20px;
}

.menu {
	display: flex;
	justify-content: space-between;
	// padding: 5px 20px;

	// .menu__icon
	&__icon {
		font-size: 20px;
	}

	// .menu__body
	&__body {
		height: 100%;
		display: flex;
		align-items: center;
		gap: 40px;
	}

	// .menu__list
	&__list {
		display: flex;
		gap: 15px;
	}

	// .menu__item
	&__item {
		cursor: pointer;
		padding: 10px 10px;
		border-radius: 2px;
		transition: all 0.3s ease 0s;

		@media (any-hover: hover) {
			&:hover {
				color: #fff;
				background-color: #bd1010;
			}
		}
	}


}