<div class="card-mini">
	<a [routerLink]="['/current-film', movie.id]" class="card-mini__link">
		<div class="card-mini__raiting">
			<i class="pi pi-star-fill" style="color: #d4af37"></i>
			<span>{{movie.vote_average}}</span>/10
		</div>
		<div class="card-mini__image card-mini__image-ibg">
			<img [src]="movieUrl" [alt]="movie.title">
			<div class="card-mini__control">
				<i class="pi pi-heart hover-color" appPreventDefault (click)="addToFavorites()"></i>
				<i class="pi pi-eye hover-color" appPreventDefault (click)="addToWatchList()"></i>
			</div>
		</div>
		<div *ngIf="movie.title" class="card-mini__title"> {{movie.title}} </div>
	</a>
</div>