.movie {

	// .movie__container
	&__container {
		max-width: 1550px;
		margin: 0 auto;
		padding: 0 15px;
	}

	&__wrapper {
		display: flex;


	}

	&__content {
		flex: 1 1 auto;
	}

	&__sidebar {
		&-open {
			flex: 0 1 300px;
		}

		&-close {
			flex: none;
		}
	}

}