.movie {

	// .movie__container
	&__container {
		max-width: 1550px;
		margin: 0 auto;
		padding: 0 15px;
	}

	&__wrapper {
		display: flex;


	}

}

:host ::ng-deep {
	.p-dialog-titlebar {
		padding: 0px 50px;
	}
}