.login {
	display: flex;
	flex-direction: column;
	gap: 15px;
	max-width: 600px;
	width: 600px;
	// .login__item

	&__item {
		display: flex;
		flex-direction: column;
		gap: 5px;

		label {
			padding: 0px 0px 0px 5px;
		}
	}

	// .login__input
	&__input {
		border: 1px solid #ccc;
		height: 30px;
		padding: 0px 0px 0px 10px;
	}

	// .login__button
	&__button {
		align-self: center;
		padding: 8px 36px;
		background-color: #920202;
		border-radius: 2px;
		color: #fff;
		transition: all 0.3s ease 0s;

		@media (any-hover: hover) {
			&:hover {
				background-color: #6e0202;
			}
		}
	}
}