<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="flex flex-column px-8 py-5 gap-4 " style="border-radius: 12px; ">
	<div class="inline-flex flex-column gap-2">
		<label for="username" class=" font-semibold">Username</label>
		<input pInputText id="username" formControlName="userName" class="bg-white-alpha-20 border-50 p-3  border-1 " />
	</div>
	<div class="inline-flex flex-column gap-2">
		<label for="password" class=" font-semibold">Password</label>
		<input pInputText id="password" formControlName="password" class="bg-white-alpha-20 border-50 p-3  border-1  " type="password" />
	</div>
	<div class="flex align-items-center gap-2">
		<p-button type="submit" label="Sign-In" [text]="true" styleClass="p-3 w-full hover:text-white  border-1 border-red-700 hover:bg-red-700" class="w-full" />
	</div>
</form>