<div class="flex flex-column gap-5">
	<div class="searched-movies flex flex-column gap-5">
		<form [formGroup]="searchFormGroup" (ngSubmit)="onSearch()" class="searched-movies__search lign-items-stretch flex gap-5">
			<input formControlName="search" autocomplete="off" type="text" name="form[]" data-error="Ошибка" placeholder="Search your movie: Harry Potter" class="searched-movies__input input flex-grow-1 border-round-xs border-1 border-300 p-2">
			<p-button label="Search" type="submit" styleClass="searched-movies__button" />
		</form>
		<app-movie-list *ngIf="searchedList.length" [movieList]="searchedList"></app-movie-list>
		<p-paginator *ngIf="totalPagesForSearch > 1" (onPageChange)="onSearchPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="totalPagesForSearch" />
	</div>
	<div class="all-movies flex flex-column gap-2 align-items-center">
		<h2 class="all-movies__title title text-5xl">All Movies</h2>
		<form [formGroup]="formGroup" class="align-self-start">
			<div class="control__filters border-round-xs border-1 border-300 p-2">
				<p-treeSelect class="md:w-20rem w-full" (onNodeSelect)="onFiltersChange()" (onNodeUnSelect)="onFiltersChange()" containerStyleClass="w-full" formControlName="selectedNodes" selectionMode="multiple" [options]="nodes" placeholder="Select Item" />
			</div>
		</form>
		<app-movie-list [movieList]="movieList"></app-movie-list>
		<p-paginator *ngIf="totalPages > 1" (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="totalPages" />
	</div>
</div>