<div class="movie-list">
	<div class="movie-list__content">
		<div class="movie-list__all">
			<ul class="grid justify-content-center">
				<li class="col-12 md:col-6 sm:col-12 lg:col-2" *ngFor="let movie of movieList; trackBy: trackById">
					<app-movie-mini-card [movie]="movie"></app-movie-mini-card>
				</li>
			</ul>
		</div>
		<div class="movie-list__favourite">
			<div class="movie-list__title">Улюблені</div>
			<ul *ngIf="favoriteList.length; else noMovies" class="grid justify-content-center">
				<li class="col-12 md:col-6 sm:col-12 lg:col-2" *ngFor="let movie of favoriteList; trackBy: trackById">
					<app-movie-mini-card [movie]="movie" (addFavorite)="onAddToFavorites($event)" (addWatchList)="onAddToWatchList($event)"></app-movie-mini-card>
					<!-- <app-movie-card [movie]="movie" (addFavorite)="onAddToFavorites($event)" (addWatchList)="onAddToWatchList($event)"></app-movie-card> -->
				</li>
			</ul>
			<ng-template #noMovies>
				<div class="movie-list__message">Ви не обрали улюблених фільмів</div>
			</ng-template>
		</div>
		<div class="movie-list__watch">
			<div class="movie-list__title">До перегляду</div>
			<ul *ngIf="watchList.length; else noMovies" class="grid justify-content-center">
				<li class="col-12 md:col-6 sm:col-12 lg:col-2" *ngFor="let movie of watchList; trackBy: trackById">
					<app-movie-mini-card [movie]="movie" (addFavorite)="onAddToFavorites($event)" (addWatchList)="onAddToWatchList($event)"></app-movie-mini-card>
					<!-- <app-movie-card [movie]="movie" (addFavorite)="onAddToFavorites($event)" (addWatchList)="onAddToWatchList($event)"></app-movie-card> -->
				</li>
			</ul>
			<ng-template #noMovies>
				<div class="movie-list__message">Ви не обрали фільмів для перегляду</div>
			</ng-template>
		</div>
	</div>
</div>
<!-- (addFavorite)="onAddToFavorites($event)" (addWatchList)="onAddToWatchList($event)" -->