.movie-list {

	// .movie-list__content
	&__content {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	// .movie-list__all
	&__all {
		//padding: 0px 300px;
    //
		//@media (max-width: 1200px) {
		//	padding: 0px 150px;
		//}
    //
		//@media (max-width: 992px) {
		//	padding: 0px 50px;
		//}
    //
		//@media (max-width: 768px) {
		//	padding: 0px 10px;
		//}

	}

	&__list {
		padding: 20px 20px;
		display: flex;
		// align-items: center;
		justify-content: center;
		gap: 20px;

		@media (max-width: 1200px) {
			gap: 10px;
		}

		@media (max-width: 768px) {
			flex-wrap: wrap;
		}

	}

	&__item {
		flex: 0 1 25%;

		@media (max-width: 768px) {
			flex: 0 1 35%;
		}

		@media (max-width: 460px) {
			flex: 0 1 100%;
		}
	}

	&__item-normal {
		flex: 0 1;
	}

	&__name {
		text-wrap: nowrap;
	}

	// .movie-list__favourite
	&__favourite {
		display: flex;
		flex-direction: column;
		gap: 10px;

		.movie-list__list {
			padding: 0;
		}
	}

	&__title {
		font-size: 20px;
		text-align: center;
	}

	// .movie-list__watch

	&__watch {
		display: flex;
		flex-direction: column;
		gap: 10px;

		.movie-list__list {
			padding: 0;
		}

	}

	&__message {
		text-align: center;
	}
}
